# URL del API PHP en tu hosting
NEXT_PUBLIC_API_URL=https://web.lweb.ch/vcar/api/cards.php

# URL pública de esta app Next.js
# Local:      http://localhost:3000
# Producción: https://tu-dominio.vercel.app
NEXT_PUBLIC_BASE_URL=http://localhost:3000
